/*Title CSS*/

.logo-css{
  padding: 2vh;
  width: 16vh;
}

.home-title-box {
  position: fixed;
  display: flex;
  align-items: center;
  height: 16vh;
  background-color: hsl(198, 55%, 75%);
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid black;
}

.home-title-name{
  color: rgb(49, 49, 49);
  font-size: 5vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}